NEXT_PUBLIC_API_URL='https://api-example.starsoft.com/api/'
NEXT_PUBLIC_SITE_URL='https://example.com'
NEXT_PUBLIC_SITE_NAME='Example'
NEXT_PUBLIC_SITE_DESCRIPTION='Explore, descubra e compre NFTs exclusivos em um marketplace digital com navegacao rapida e experiencia otimizada.'
