:root {
  --color-primary: #ff8310;

  --color-background: #232323;
  --color-surface: #191a20;
  --color-surface-light: #393939;

  --color-text-primary: #ffffff;
  --color-text-secondary: #cccccc;

  --color-border: #393939;
}
